<table  cellpadding="20" cellspacing="0" border="0">
  <tr bgcolor="#3d3d3d">
    <td width="600" align="center">
      <p style="
      font-size: 16px;
      line-height: 22px;
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff; margin: 0;">
        TESTE SOFTDESIGN - MARVEL FLIX
      <br>
        E-mail: <a href="mailto:rodrigo@eadconcept.com.br" style="text-decoration: none; color:#fff">rodrigo@eadconcept.com.br</a>
      </p>
    </td>
  </tr>
</table>



