<table  cellpadding="20" cellspacing="0" border="0">
  <tr bgcolor="#3d3d3d">
    <td width="600"
        valign="top"
        align="center"
        style="height: 70px; padding: 20px">
      <img src="{{logo}}" height="60" border="0">
    </td>
  </tr>
</table>


